<h1>Showtime #<%= @showtime.id %></h1>

<p>
  <b>Movie:</b>
  <%= @showtime.movie_id %>
</p>

<p>
  <b>Theater:</b>
  <%= @showtime.theater_id %>
</p>

<p>
  <b>Screen time:</b>
  <%= @showtime.screen_time %>
</p>


